################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build
/vcpkg_installed
/include.code-workspace
/test_cube.obj
/test_cube.stl
/test_cube_ascii.stl
/test_cube_corrected.obj
/test_cube_fixed.obj
/test_cube_normals.obj
/test_cube_normals.stl
/test_cube_perfect.obj
/test_include_minimal.o
/todos.txt
/vcpkg.json
/wxcoin.code-workspace
/FreeCAD
/.gitignore
/.gitignore
